<!DOCTYPE html>
<html>
<body>   
<h1>{{ title }}</h1>
<h2>Links</h2>
<p>self = <a href="{{ url }}/">{{ title }}</a> (application/json)</p>
<p>service = <a href="{{ url }}/api">the API definition (JSON)</a> (application/openapi+json;version=3.0)</p>
<p>service = <a href="{{ url }}/api.html">the API definition (HTML)</a> (text/html)</p>
<p>conformance = <a href="{{ url }}/conformance">WFS 3.0 conformance classes implemented by this server</a> (application/json)</p>
<p>data = <a href="{{ url }}/collections">Metadata about the feature collections</a> (application/json)</p>
<p>Get raw <a href="{{ url }}/?f=json">JSON</a></p>
</body>
</html>